.backButton {
    width: fit-content;
    color: var(--light-text-color);
    padding: 5px;
    border-radius: 5px;
    border: 0.5px solid var(--dark-color);
    background-color: #02002443;
    text-shadow: #141324cd 1px 0 2px;
    font-size: 0.9rem;
}