h1 {
    font-family: 'Tac one', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.2rem;
    letter-spacing: 1.5px;
    padding: 24px 0;
    text-align: center;
    margin: 0;
    color: var(--main-color);
}