@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tac+One&display=swap');

header > h1 {
    font-family: 'Tac one', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    letter-spacing: 1.5px;
    padding: 46px 0;
    text-align: center;
    margin: 0;
    color: var(--accent-color);
}