.icon {
    aspect-ratio: 1/1;
    background-color: black;
    width: 70%;
    color: var(--light-text-color);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--light-accent-color);
    margin: 8px;
    z-index: 2;
}

.mobileTitle {
    padding: 16px;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
    width: 100%;
    z-index: 1;
    background-color: rgba(23, 22, 21, 0.827);
} 

img {
    position: absolute;
    display: flex;
    height: 95%;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

@media screen and (min-width: 800px) {
    .icon {
        width: 260px;
    }
}

@media screen and (min-width: 1367px) {
    
    .checkHoverState {
        display: flex;
        position: absolute;
        height: 100%;
        border-radius: 50%;
        aspect-ratio: 1/1;
        z-index: 1000;
        cursor: pointer; 
    }
    
    .red {
        background-color: red;
        z-index:500;
    }

    img:hover{
        box-shadow: var(--main-turquoise) 0px 3px 20px;
        
    }

    .icon {
    border-radius: 50%;
    }
    
    .overlay {
        background-color: rgba(216, 199, 172, 0.711);
        color: #000;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        height: 95%;
        border-radius: 50%;
        aspect-ratio: 1/1;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        margin: 5px;
        font-size: 0.8rem;
    }
    
    .mobileTitle {
        display: none;
    }
}