footer {
    height: fit-content;
    color: var(--dark-color);
    margin-top: 100px;
    text-align: center;
    font-weight: 600;
    font-size: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-transform: uppercase;
}

a,
a:active,
a:visited {
    text-decoration: none;
    cursor: pointer;
    color: var(--dark-color);
    border: none;
}

footer :nth-child(2) {
    color: var(--light-text-color);
    cursor: pointer;
    border: none;
    border-radius: 0;
    background-color: #02002449;
    font-weight: 600;
    width: 100%;
}

@media screen and (min-width:800px) {
    footer {
        font-size: 0.8rem;
        margin-top: 150px;
    }
}

@media screen and (min-width:1367px) {
    footer {
        font-size: 1rem;
    }

}