footer {
    height: fit-content;
    color: var(--dark-color);
    padding: 2px;
    text-align: center;
    font-weight: 600;
}

a,
a:active,
a:visited {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}