@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tac+One&display=swap');

:root {
  --main-color: rgb(217, 86, 217);
  --main-bg-color: rgb(70, 76, 82);
  --light-text-color: whitesmoke;
  --dark-color: rgba(2,0,36,1);
  --main-turquoise: rgba(9,89,121,1);
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  height: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(1,68,94,1) 43%, rgba(9,89,121,1) 66%);
  margin: 0;
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}