:root {
  --main-color: rgb(217, 86, 217);
  --main-bg-color: rgb(70, 76, 82);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  background-color: var(--main-bg-color);
}
