@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tac+One&display=swap');

:root {
  --main-color: #d956d9;
  --accent-color: rgb(218, 137, 8);
  --light-accent-color: #3c3c3c;
  --main-bg-color: #464c52;
  --light-text-color: #f5f5f5;
  --dark-color: #020024;
  --main-turquoise: #095979;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(1,68,94,1) 43%, rgba(9,89,121,1) 66%);
  margin: 0;
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}